{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container-fluid signin">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method="post">
              {% csrf_token %}
              {{ form.non_field_errors}}
              <div class="form-label-group">
                {{form.username|as_crispy_field}}
              </div>
              <div class="form-label-group">
                {{form.password|as_crispy_field}}
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <div class="custom-controlmb-3">
                <a href="{% url 'password_reset' %}"> Forgot password?</a>
              </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
