{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}
  {% include 'header.html' %}
  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_3">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>Giới thiệu về chúng tôi</h3>
                      <p>Giúp bạn không bỏ lỡ bất cứ điều tuyệt vời nào trong chuyến du lịch của mình.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

  <div class="about_story">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="story_heading">
                      <h3>Câu chuyện về chúng tôi</h3>
                  </div>
                  <div class="row">
                      <div class="col-lg-11 offset-lg-1">
                          <div class="story_info">
                              <div class="row">
                                  <div class="col-lg-9">
                                      <p>Nếu bạn đang tìm kiếm một chuyến đi du lịch để có trải nghiệm văn hóa thú vị, một chuyến phiêu lưu mạo hiểm, hay đơn giản là thư giãn trên những bãi biển hoang sơ cùng bờ cát trắng theo mong mỏi bấy lâu của bạn, Tâm Travel chính là sự lựa chọn đúng đắn! Đội ngũ giàu kinh nghiệm và đầy nhiệt huyết của chúng tôi sẽ biến những ý tưởng tuyệt vời của bạn thành những chuyến đi vô cùng đáng nhớ. Và đặc biệt, chúng tôi đảm bảo rằng mỗi chuyến đi sẽ được thiết kế phù hợp với yêu cầu tài chính của bạn!</p>
                                      <p>Thông qua các chương trình đào tạo toàn diện, chúng tôi đảm bảo đội ngũ nhân viên hiểu biết và đủ điều kiện tham gia công việc kinh doanh.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="story_thumb">
                              <div class="row">
                                  <div class="col-lg-5 col-md-6">
                                      <div class="thumb padd_1">
                                          <img src="{% static 'img/about/1.png' %}" alt="">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6">
                                      <div class="thumb">
                                          <img src="{% static 'img/about/2.png' %}" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="counter_wrap">
                              <div class="row">
                                  <div class="col-lg-4 col-md-4">
                                      <div class="single_counter text-center">
                                          <h3  class="counter">{{bookings}}</h3>
                                          <p>Tour has done successfully</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-4">
                                      <div class="single_counter text-center">
                                          <h3 class="counter">{{tour_totals}}</h3>
                                          <p>Yearly tour arrange</p>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-4">
                                      <div class="single_counter text-center">
                                          <h3 class="counter">{{clients}}</h3>
                                          <p>Happy Clients</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="video_area video_bg overlay">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="video_wrap text-center">
                      <h3>Enjoy Video</h3>
                      <div class="video_icon">
                          <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                              <i class="fa fa-play"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {% include 'travel_variation.html' %}
  {% include 'testimonial.html' %}
  {% include 'recent_trips.html' %}
  {% include 'footer.html' %}
{% endblock %}
