{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block title %} Destination {% endblock %}
{% block content %}
  {% include 'header.html' %}
  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_2">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>Điểm du lịch</h3>
                      <p>Chúng tôi lựa chọn cho bạn khách sạn phù hợp, tour đặc sắc, thông tin du lịch chi tiết kèm mức giá hấp dẫn.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

  <!-- where_togo_area_start  -->
  <div class="where_togo_area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-3">
                  <div class="form_area">
                      <h3>Bạn muốn đi đâu?</h3>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="search_wrap">
                      <form class="search_form" action="{% url 'search_results' %}" method="get">
                          <div class="input_field">
                              <input name="q" type="text" placeholder="Bạn muốn đi đâu?">
                          </div>
                          <div class="input_field">
                              <input id="datepicker" placeholder="Date">
                          </div>
                          <div class="search_btn">
                              <button class="boxed-btn4 " type="submit" >Search</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- where_togo_area_end  -->

  <div class="popular_places_area">
      <div class="container">
          <div class="row">
              {% for p in places %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{{p.tour_photo.first.image.url}}" alt="">
                            <a href="/destination/{{p.id}}" class="prise">{{p.price|intcomma}}đ</a>
                        </div>
                        <div class="place_info">
                            <a href="/destination/{{p.id}}"><h3>{{p.short_tour_name}}</h3></a>
                            <p>{{p.destination.area}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <a href="#">({{p.num_review}} Review)</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">{{p.experience_time}} Days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
          <div class="row">
            {% if places.has_other_pages %}
              <ul class="pagination">
                {% if places.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ places.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link">&laquo;</a></li>
                {% endif %}
                {% for i in places.paginator.page_range %}
                  {% if places.number == i %}
                    <li class="page-item"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if places.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ places.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link">&raquo;</a></li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
      </div>
  </div>
  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <i class="fa fa-angle-up"></i>
  </a>
  {% include 'newletter.html' %}
  {% include 'recent_trips.html' %}
  {% include 'footer.html' %}
{% endblock %}
