{% extends 'base.html' %}

{% block title %}Travelo{% endblock %}
{% block content %}
  {% include 'header.html' %}
  <div class="popular_places_area">
      <div class="container">
          <div class="row">
              {% for p in destinations %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{{p.tour_photo.first.image.url}}" alt="">
                            <a href="/destination/{{p.id}}" class="prise">{{p.price}}đ</a>
                        </div>
                        <div class="place_info">
                            <a href="/destination/{{p.id}}"><h3>{{p.destination.destination_name}}</h3></a>
                            <p>{{p.destination.area}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <a href="#">({{p.num_review}} Review)</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">{{p.experience_time}} Days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
      </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}
