{% load static %}
<footer class="footer">
 <div class="footer_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4 ">
                <div class="footer_widget">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="{% static 'img/footer_logo.png' %}" alt="">
                        </a>
                    </div>
                    <p>459, Ton Duc Thang, Lien Chieu,Da Nang <br>
                        <a href="#">+84 333422230</a> <br>
                        <a href="#">lyvantra98@gmail.com</a>
                    </p>
                    <div class="socail_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-lg-2">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Doanh nghiệp
                    </h3>
                    <ul class="links">
                        <li><a href="#">Giá cả</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#"> Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Điểm đến phổ biến
                    </h3>
                    <ul class="links double_links">
                        <li><a href="#">Nha Trang</a></li>
                        <li><a href="#">Đà Lạt</a></li>
                        <li><a href="#">Đà Nẵng</a></li>
                        <li><a href="#">Sapa</a></li>
                        <li><a href="#">Hà Nội</a></li>
                        <li><a href="#">Quảng Bình</a></li>
                        <li><a href="#">Huế</a></li>
                        <li><a href="#">Hồ Chí Minh</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-3">
                <div class="footer_widget">
                    <h3 class="footer_title">
                        Instagram
                    </h3>
                    <div class="instagram_feed">
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/1.png' %}" alt="">
                            </a>
                        </div>
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/2.png' %}" alt="">
                            </a>
                        </div>
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/3.png' %}" alt="">
                            </a>
                        </div>
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/4.png' %}" alt="">
                            </a>
                        </div>
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/5.png' %}" alt="">
                            </a>
                        </div>
                        <div class="single_insta">
                            <a href="#">
                                <img src="{% static 'img/instagram/6.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right_text">
    <div class="container">
        <div class="footer_border"></div>
        <div class="row">
            <div class="col-xl-12">
                <p class="copy_right text-center">

Copyright &copy;<script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{% url 'index' %}" target="_blank">Travelo</a>

                </p>
            </div>
        </div>
    </div>
</div>
</footer>
