{% load static %}
<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Chuyến đi gần đây</h3>
                </div>
            </div>
        </div>
        <div class="row">
          {%for b in blogs %}
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="{{b.image.url}}" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>{{b.date}}</span>
                        </div>
                        <a href="/blog/{{b.id}}">
                            <h3>{{b.short_blog_title}}</h3>
                        </a>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
