{% load static %}
<!-- testimonial_area  -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                    </div>
                                    <p>"Du lịch – ban đầu nó khiến bạn không thốt nên lời, và sau đó biến bạn trở thành một người kể chuyện.</p>
                                    <div class="testmonial_author">
                                        <h3>- Emile Zola</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                    </div>
                                    <p>"Hãy ngắm nhìn thế giới. Điều đó tuyệt vời hơn bất cứ giấc mơ nào.</p>
                                    <div class="testmonial_author">
                                        <h3>-  Ray Bradbury</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{% static 'img/testmonial/author.png' %}" alt="">
                                    </div>
                                    <p>"Đầu tư vào du lịch là một khoản đầu tư cho bản thân.</p>
                                    <div class="testmonial_author">
                                        <h3>-  Matthew Karsten</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->
