{% load static %}

<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                    </div>
                    <h3>Hành trình thoải mái</h3>
                    <p>Một sự thanh thản tuyệt vời đã chiếm hữu toàn bộ tâm hồn tôi</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                    </div>
                    <h3>Khách sạn sang trọng</h3>
                    <p>Đến là mê , ở là phê.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                    </div>
                    <h3>Hướng dẫn du lịch</h3>
                    <p>Giúp bạn có một chuyến du lịch thú vị và đầy bổ ích.</p>
                </div>
            </div>
        </div>
    </div>
</div>
